@page "/mealr"

<h3>Mealr</h3>
<p>Minimal build, add ingredients only. Template: one of each food type, ones blank are random.</p>

<p>What ingredients are at your disposal?</p>
<p>EX: chick peas, tomato, eggplant, veggie broth, rice</p>

<p>What ingredients to avoid? (separate ingredients with a comma (,))</p>
<p>EX: mushrooms, peanuts</p>

<p>Are there any special requests? (separate instructions with a comma (,)) </p>
<p>EX: Latin American, extra spicy, Gluten-Free, Peanut Allergy</p>


<form method="post">
    Ingredient:
    <input asp-for"" />
    <input type="submit" />

</form>

@code {

}
